<div>
<div class="navbar navbar-default homeBar">
    <div class="navbar-header">
        <div class="navbar-brand appTitle">AUTONOMOUS CAR FLEET</div>
    </div>
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newTrip()">New trip</button>
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newCar()">New Car</button>
    <button type="button" class="btn btn-primary navbar-btn" ng-click="logout()">Logout</button>
</div>
    <div class="homeContent">
        <div id="mapView">
            <div class="map" lat="48.85339980965301" lng="2.347877580291879" value="carTrips" zoom="7" map>
            </div>
        </div>
    <div class="panels">
    <section class="panel panel-default usedCar">
        <div class="panel-heading">
        <h3>Available cars</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="car in cars | orderBy: car.carNumber" class="well">
                <input type="checkbox">
                <label>{{car.name}}</label>
            </div>
        </div>
    </section>
    <section class="panel panel-default carDashboard">
        <div class="panel-heading">
            <h3>Trips</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="carTrip in carTrips | orderBy: car.carNumber" class="well">
                <input type="checkbox" ng-change="markerVisible(carTrip, visibleMarker)" ng-model="visibleMarker">
                <label>{{carTrip.name}}</label>
                <span>
                   <label>Current trip: </label>
                    <span>{{carTrip.tripDepartureAddress}} => {{carTrip.tripArrivalAddress}} -- {{carTrip.tripDistance}} -- {{carTrip.tripTime}} -- already done {{carTrip.timeDone}} minutes</span>
                </span>
            </div>
        </div>
    </section>
    </div>
    </div>
</div>