<div>
<div class="navbar navbar-default homeBar">
    <div class="col-md-4">
        <div class="navbar-header">
            <div class="navbar-brand appTitle">AUTONOMOUS CAR FLEET</div>
        </div>
        </div>
    <div class="col-md-4" align="center">
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newTrip()">
        <i class="fa fa-road" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary navbar-btn" ng-click="newCar()">
        <i class="fa fa-car" aria-hidden="true"></i>
    </button>
    <button type="button" id="icon-groupcar" class="btn btn-primary navbar-btn" ng-click="group()">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
    </button>

        </div>
    <div class="col-md-4"  align="right">
    <button type="button" class="btn btn-danger navbar-btn" ng-click="logout()">Logout</button>
    </div>
    </div>
    <section class="panel panel-default usedCar">
        <div class="panel-heading">
            <h3>Groups</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="group in groups" >
                <div class="row">
                <div class="col-md-1">
                    <input type="checkbox" ng-change="showGroup(group, showCar)" ng-model="showCar"/>
                </div>
                <div class="col-md-11">
                    <label>{{group}}</label>
                </div>
                </div>
            </div>
        </div>
    </section>
    <div class="homeContent">
        <div id="mapView">
            <div class="map" lat="48.85339980965301" lng="2.347877580291879" value="carTrips" zoom="7" map>
            </div>
        </div>
    <div class="panels">
    <section class="panel panel-default usedCar">
        <div class="panel-heading">
        <h3>Available cars</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="car in cars | orderBy: car.carNumber" class="well">
                <div class="row">
                    <div class="col-md-1">
                        <input type="checkbox">
                    </div>
                    <div class="col-md-9">
                        <label>{{car.name}}</label>
                    </div>
                    <div class="col-md-2" align="center">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCar(car._id)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel panel-default carDashboard">
        <div class="panel-heading">
            <h3>Trips</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="carTrip in carTrips | orderBy: car.carNumber track by $index" class="well">
                <input type="checkbox" ng-change="markerVisible(carTrip, visibleMarker)" ng-model="visibleMarker">
                <label >{{carTrip.name}}</label >
                <span>
                   <label>Current trip:</label>
                    <span>{{carTrip.tripDepartureAddress}} => {{carTrip.tripArrivalAddress}} -- {{carTrip.tripDistance}} -- {{carTrip.tripTime}} <uib-progressbar max="100" value="carTimeDone[$index]"><span style="color:white; white-space:nowrap;">  {{carTimeDone[$index]}} %</span></uib-progressbar></span>
                </span>
            </div>
        </div>
    </section>
    </div>
    </div>
</div>