<div>
    <form name="loginForm" class="loginForm" novalidate="">
        <div class="form-group loginInput" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input class= "form-control" type="text" name="username"  placeholder="Username"  required ng-model="account.userName"/>
            <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Please enter a valid username.</p>
        </div>
        <div id="loginPassword" class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}">
            <i class="fa fa-lock icon-login-lock" aria-hidden="true"></i>
            <input class= "form-control" type="password" name="password" placeholder="Password"  ng-minlength="5" ng-maxlength="15" required ng-model="account.password"/>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Please enter a valid password.</p>
        </div>
            <div id="loginSubmit">
                <input class="btn btn-success" type="submit" id="loginConnexionButton" ng-click="login(loginForm.$valid)" value="CONNEXION"/>
            </div>
            <div id="signupConnexion">
                <p id="signupConnexionText">Or <a ui-sref="register">Create an account.</a></p>
            </div>
    </form>

</div>
<div data-ng-animate="'custom'" >
    <div uib-alert ng-repeat="alert in loginAlerts" dismiss-on-timeout="5000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
</div>
</div>